:root{
  --blue-color: #0075ff;
  --blue-alt-color:#0d69d5;
  --orange-color: #c59f22;
  --green-color: #36f443;
  --grey-color: #888;
  --red-color: red ;
}

.c-white{
  color: white;
}
.c-grey{
  color: var(--grey-color);
}
.c-green{
  color: var(--green-color);
}
.c-blue{
  color: var(--blue-color);
}
.c-orange{
  color: var(--orange-color);
}
.c-red{
  color: var(--red-color);
}
.bg-red{
  background-color: var(--red-color);
}
.bg-green{
  background-color: var(--green-color);
}
.bg-orange{
  background-color: var(--orange-color);
}
.bg-blue{
  background-color: var(--blue-color);
}
.bg-white{
  background-color: white;
}
/* start box  */
.d-flex {
  display: flex;
}
.f-wrap{
  flex-wrap:wrap ;
}

.align-center {
  align-items: center;
}
.space-between{
  justify-content: space-between;
}

.d-block{
  display: block;
}
@media (max-width: 767px){
  .block-mobile{
    display: block;
  }
  .hide-mobile{
    display: none;
  }
}

.d-grid{
display: grid;
}
.gap-20{
  gap: 20px;
}


/* End box  */

/* start padding + margin  */
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.m-0 {
  margin: 0;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20{
  margin-top: 20px;
}
.mb-5{
  margin-bottom: 5px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-20{
  margin-bottom: 20px;
}


/* end padding + margin  */

/* start color  */
.bg-white {
  background-color: white;
}
.bg-eee {
  background-color: #eee;
}
.bg-blue{
  background-color: var(--blue-color);
}

.c-black {
  color: black;
}

.c-grey{
  color: var(--grey-color);
}

.c-white{
  color: white;
}
/* end color  */

/* start position */

.p-relative {
  position: relative;
}
/* end position */

/* start font  */
.txt-c {
  text-align: center;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fw-bold{
  font-weight: bold;
}

@media (max-width : 767px){
  .txt-c-mobile{
    text-align: center;
  }
}
/* end font  */

/* start border */
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
.b-none{
  border: none;
}
/* end border */

/* start components  */
.center-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-shape{
  padding: 4px 10px ;
  border-radius: 6px;
}
/* end components  */
 /* start width + height  */

 .w-full {
  width: 100%;
}

.w-fit{
  width: fit-content ;
}

 /* end width + height  */


 /* start  list work  */
 
 /* End  list work  */
